---
import '@fontsource-variable/figtree';
import '../styles/tailwind.css';
---
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<main class="bg-[#f2f2f3] p-5 lg:p-10 font-figtree">
    <slot/>
</main>